/* styles/globals.css */

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255); /* default color */
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet:hover {
    background-color: rgb(128, 128, 128);
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ac00e1; 
    transform: scale(1.2); 
  }

/* 
.swiper-button-next,
.swiper-button-prev {
  color: #ff6b6b; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px;
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
} */

  