name: GTM-Frontend

on:
  push:
    branches:
      - 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Write Google Cloud Credentials to File
        run: |
          echo '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}' > $HOME/gcloud.json
          cat $HOME/gcloud.json

      - name: Authenticate with Google Cloud
        run: |
          gcloud auth activate-service-account --key-file=$HOME/gcloud.json
          gcloud auth list
          gcloud config set project ${{ secrets.GOOGLE_PROJECT }}

      - name: Authenticate Docker with Artifact Registry
        run: |
          gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://asia-south1-docker.pkg.dev

      - name: Build and Push Docker Image
        env:
          GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        run: |
          docker build -t asia-south1-docker.pkg.dev/chrome-reserve-476216-r9/gtm-frontend-repo/gtm-fe:latest .
          docker push asia-south1-docker.pkg.dev/chrome-reserve-476216-r9/gtm-frontend-repo/gtm-fe:latest

      - name: Deploy to Google Cloud Run
        run: |
          gcloud run deploy gtm-frontend-service \
                      --image=asia-south1-docker.pkg.dev/chrome-reserve-476216-r9/gtm-frontend-repo/gtm-fe:latest \
                      --platform=managed \
                      --region=asia-south1 \
                      --allow-unauthenticated 