name: Build, Scan, Deploy to AWS EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      EKS_CLUSTER: test-eks-cluster
      ECR_BACKEND: 730335385079.dkr.ecr.ap-south-1.amazonaws.com/backend-ecr-repo
      ECR_FRONTEND: 730335385079.dkr.ecr.ap-south-1.amazonaws.com/frontend-ecr-repo
      TAG: ${{ github.sha }}

    steps:
      # -----------------------------------------------------
      # CHECKOUT MAIN REPO
      # -----------------------------------------------------
      - name: Checkout main repo
        uses: actions/checkout@v3

      # -----------------------------------------------------
      # CHECKOUT BACKEND REPO (SEPARATE)
      # -----------------------------------------------------
      - name: Checkout backend repository
        uses: actions/checkout@v3
        with:
          repository: sandeepbikkana/backend-service
          path: backend

      # -----------------------------------------------------
      # CONFIGURE AWS CREDENTIALS
      # -----------------------------------------------------
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # -----------------------------------------------------
      # LOGIN TO ECR
      # -----------------------------------------------------
      - name: Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin $ECR_BACKEND

          aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin $ECR_FRONTEND

      # -----------------------------------------------------
      # BUILD DOCKER IMAGES
      # -----------------------------------------------------
      - name: Build Backend Image
        run: |
          docker build -t $ECR_BACKEND:$TAG ./backend

      - name: Build Frontend Image
        run: |
          docker build -t $ECR_FRONTEND:$TAG ./frontend-main

      # -----------------------------------------------------
      # PUSH IMAGES TO ECR
      # -----------------------------------------------------
      - name: Push Backend Image
        run: docker push $ECR_BACKEND:$TAG

      - name: Push Frontend Image
        run: docker push $ECR_FRONTEND:$TAG

      # -----------------------------------------------------
      # UPDATE K8s MANIFEST TAGS
      # -----------------------------------------------------
      - name: Update manifest images
        run: |
          sed -i "s/{{TAG}}/${TAG}/g" k8s/backend-deployment.yaml
          sed -i "s/{{TAG}}/${TAG}/g" k8s/frontend-deployment.yaml

      # -----------------------------------------------------
      # UPDATE kubeconfig FOR EKS CLUSTER
      # -----------------------------------------------------
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name $EKS_CLUSTER --region $AWS_REGION

      # -----------------------------------------------------
      # DEPLOY TO EKS
      # -----------------------------------------------------
      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/backend
          kubectl rollout status deployment/frontend
